body {
    width: 60%;
    margin: 2% auto;
    border: 20px solid #bdc3c7;
    padding: 1% 2%;
}

h5 {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: capitalize;
}

.firstP {
    border-left: 5px solid #bdc3c7;
    padding-left: 1%;
}